.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir::before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.connect {
  display: none;
  color: transparent;
  border: 0;
  background: transparent url('../images/soundcloud_connect.png');
  width: 124px;
  height: 29px;
  cursor: pointer;
}
.connect.visible {
  display: inline-block;
}
